<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Niobium" value="https://pkgs.dev.azure.com/NiobiumNZ/Niobium/_packaging/niobium/nuget/v3/index.json" />
  </packageSources>
</configuration>